.rot{
    width: 400px;
    height: 400px;
    margin: 5% 10%;
    background-color: #E11A27;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

div div {
    width: 100px;
    height: 100px;
    background-color: white;
}
    
 .weiss2{ 
    height: 300px;
    background-color: white;
    align-self: center;
}

 

    
